{% extends 'base.html' %}

{% block title %}Login{% endblock %}
 
    {% block ul %}

        <li class="active">
            <a href="{{ url_for('login.login') }}">Entrar</a>
        </li>
    {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well well-lg">
                <form class="form-horizontal" method="post">
                    <fieldset>
                    
                        <div class="form-group">
                            <label for="credencial" class="col-md-4 control-label">Credencial: </label>
                            <div>
                                {{ form.csrf }}
                                {{ form.credencial }}
                          </div>
                        </div>    
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}